html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 150px;
  background: rgb(216,224,233);
}

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');